{% extends 'index.html' %}

{% load static %}


{% block contenidoQueCambia %}

    <h1>Lista de Personal</h1>

    <ul>
        
        {% for Persona in ListaPers %}
            <li class="lp">
                 {{Persona}} 
                     <button class="bpe">
                        <a href="{% url 'BorrarPersonal' Persona.id %}"><img src="{% static 'assets/img/papelera.ico' %}" alt=""></a>
                    </button>
                    <button class="ep">
                        <a href="{% url 'UpdatePersonal' Persona.id %}"><img src="{% static 'assets/img/editar.ico' %}" alt=""></a>
                    </button>
                
            </li>
         
        {% endfor %}
            
    </ul>

{% endblock contenidoQueCambia %}